<nav>
    <div class = "site-title">
    <a href = "/"> <h1>Cosa Blogs</h1> </a>
    <p>A blog website for trends in application development</p>
    </div>


<ul>
    <li><a href ="/" class = "activelink"> Blogs </a></li>
    <li><a href ="/about" class = "activelink"> About </a></li>
    <li><a href ="/blogs/create" class = "activelink"> New Blog </a></li>
</ul>

</nav>