<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    
    <%- include("./partials/nav.ejs") %>


    <div class="create-blog">
          <h1>Submit blogs now!</h1>
        <form action="/patient/add" method="POST">
          <label for="id">ID:</label>
          <input type="text" id="id" name="id" placeholder="PATIENT ID" required>
          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" name="firstName" placeholder="Mcleilan" required>
          <label for="middleName">Middle Name:</label>
          <input type="text" id="middleName" name="middleName" placeholder="Inocencio" required>
          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" name="lastName" placeholder="Cosa" required>
          <label for="contact">Contact No:</label>
          <input type="text" id="contact" name="contact" placeholder="123456789" required>
          <button>Submit</button>
        </form>
      </div>

      <%- include("./partials/footer.ejs") %>
</body>
</html>