<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>

    <%- include("./partials/nav.ejs") %>
    <h1 id="aboutTitle">About the Website</h1>
    <div class = "about">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa illum fugit adipisci autem veritatis deleniti assumenda harum dicta iure beatae, facere praesentium quaerat, sit nihil, ipsum facilis nemo magnam! Minima?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa illum fugit adipisci autem veritatis deleniti assumenda harum dicta iure beatae, facere praesentium quaerat, sit nihil, ipsum facilis nemo magnam! Minima?
            
        </p>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>